---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import Button from "@components/Button/Button.astro";
import myImage from "@assets/me.png";
import AppearingText from "@components/AppearingText/AppearingText.astro";
import AppearingLine from "@components/AppearingText/AppearingLine.astro";
import SocialLinks from "@components/SocialLinks.astro";
import { tooltipIgnore } from "@/components/Tooltip/serverUtils";
import { foxObstacleAttrObj } from "@components/ThreeScene/constants";
import AppearingTextButton from "@components/AppearingText/AppearingTextButton";
import { mainpageTabs } from "src/constants";
import { classInView } from "@/plugins/classInView/serverUtils";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);

const transcript = await getEntry({
	collection: "transcripts",
	id: `${lang}/about-me`,
});

const stageId = transcript.id.split("/")[1];

const appearInView = classInView("opacity-0", "opacity-100", 1, true);
const appearInViewScale = classInView(
	"opacity-0 scale-0",
	"opacity-100 scale-100",
);

const t = useTranslations(lang);
---

<section
	id={mainpageTabs.aboutMe.id}
	class="section font-serif relative flex flex-col justify-between gap-12 md:flex-row relative bg-primary-50 shadow-2xl"
	{...foxObstacleAttrObj}
>
	<div class="w-50% min-w-80 max-w-5xl ml-auto hidden md:block">
		<Image
			src={myImage}
			alt="Picture of me"
			sizes="(max-width: 768px) 320px, (max-width:1428px) 500px, 700px"
			class="sticky top-4 object-contain rounded-full aspect-ratio-square bg-accent-100 p-4 motion-safe:transition-600 md:(top-8 max-h-80vh max-w-min w-full)"
			{...appearInViewScale}
		/>
	</div>
	<AppearingText
		as="article"
		transcript={transcript}
		class="flex flex-col flex-shrink align-end text-center prose md:(text-right basis-full)"
		id={stageId}
	>
		<h2 class="text-label">{t("sections.about-me")}</h2>
		<AppearingLine
			class="text-subtitle-1 solid-text-shadow"
			text={t("about-me.text.0")}
			group={1}
			lettersTransition
		/>
		<div
			class:list={["md:hidden max-w-50 mx-auto my-12 bg-accent-100 rounded-full"]}
		>
			<Image
				src={myImage}
				alt={t("about-me.profile-alt")}
				aspect-ratio="1:1"
				sizes="200px"
				class="rounded-full object-contain motion-safe:transition-600 p-4 aspect-square"
				{...appearInViewScale}
			/>
		</div>
		{
			transcript.data.audio && (
				<div class="h-0 relative bottom-3">
					<AppearingTextButton
						client:visible
						class="ml-auto motion-safe:transition-color-300 hover:text-tertiary-900 focus-visible:text-tertiary-900"
						stageId={stageId}
					/>
				</div>
			)
		}
		<AppearingLine
			as="h3"
			class="text-primary-600 text-subtitle-3 text-8 text-balance motion-safe:transition-opacity-1000"
			text={t("about-me.text.1")}
			group={2}
			{...appearInView}
		/>
		<AppearingLine
			text={t("about-me.text.2")}
			class="text-primary-600 text-6 text-balance motion-safe:transition-opacity-1000"
			{...appearInView}
		/>
		<AppearingLine
			class="text-primary-600 text-6 text-balance motion-safe:transition-opacity-1000"
			text={t("about-me.text.3")}
			{...appearInView}
		/>
		<p
			class="text-subtitle-3 text-balance text-9 mb-0 text-center solid-text-shadow motion-safe:transition-opacity-1000 sm:(text-right text-12 ml-auto max-w-80%)"
			{...appearInView}
		>
			<AppearingLine as="span" text={t("about-me.text.4")} />
			<AppearingLine
				as="strong"
				offset={t("about-me.text.4").length}
				text={t("about-me.text.5")}
			/>
		</p>
		<nav
			class="ml-auto flex-center flex-wrap sm:justify-end gap-2 my-8 menu-opafocus opafocus-max-opacity-100 opafocus-min-opacity-80 cursor-auto"
			{...tooltipIgnore}
		>
			<SocialLinks />
			<Button
				as="a"
				href={`#${mainpageTabs.contact.id}`}
				class="text-right max-w-max"
				invertColor
			>
				<div class="inline-block i-mingcute-message-3-fill w-8 h-8 mr-2"></div>
				<AppearingLine
					text={t("common.contact-me")}
					class="inline-block my-2"
					group={3}
				/>
			</Button>
		</nav>
	</AppearingText>
</section>
