---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import Button from "@components/Button/Button.astro";
import myImage from "@assets/me.png";
import AppearingText from "@components/AppearingText/AppearingText.astro";
import AppearingLine from "@components/AppearingText/AppearingLine.astro";
import SocialLinks from "@components/SocialLinks.astro";
import { tooltipIgnore } from "@/components/Tooltip/serverUtils";
import { foxObstacleAttrObj } from "@components/ThreeScene/constants";
import transcriptDataToTimestamps from "@utils/transcriptDataToTimestamps";
import AppearingTextButton from "@components/AppearingText/AppearingTextButton";
import { mainpageTabs } from "src/constants";
import { classInView } from "@/plugins/classInView/serverUtils";

const { data: aboutMeAudio, id: stageId } = await getEntry({
	collection: "transcripts",
	id: "about-me",
});

const aboutMeTranscript = transcriptDataToTimestamps(aboutMeAudio);
const appearInView = classInView("opacity-0", "opacity-100", 1, true);
const appearInViewScale = classInView(
	"opacity-0 scale-0",
	"opacity-100 scale-100"
);
---

<section
	id={mainpageTabs.aboutMe.id}
	class="section font-serif relative flex flex-col justify-between gap-12 md:flex-row relative bg-primary-50"
	{...foxObstacleAttrObj}
>
	<div class="w-50% min-w-80 max-w-5xl ml-auto hidden md:block">
		<Image
			src={myImage}
			alt="Picture of me"
			sizes="(max-width: 768px) 320px, (max-width:1428px) 500px, 700px"
			
			class="sticky top-4 object-contain rounded-full aspect-ratio-square bg-accent-100 p-4 motion-safe:transition-600 md:(top-8 max-h-80vh max-w-min w-full)"
			{...appearInViewScale}
		/>
	</div>
	<AppearingText
		as="article"
		wordsReference={aboutMeTranscript.words}
		wordTimings={aboutMeTranscript.timestamps}
		audioPath={aboutMeAudio.audio}
		class="flex flex-col flex-shrink align-end text-center prose md:(text-right basis-full)"
		id={stageId}
	>
		<AppearingLine
			as="h2"
			class="text-subtitle-1 solid-text-shadow"
			text="Nice to meet you!"
			group={1}
			lettersTransition
		/>
		<div
			class="md:hidden max-w-50 mx-auto mb-12 mt-12 bg-accent-100 rounded-full"
		>
			<Image
				src={myImage}
				alt="Picture of me"
				aspect-ratio="1:1"
				sizes="200px"
				class="rounded-full object-contain motion-safe:transition-600 p-4 aspect-square"
				{...appearInViewScale}
			/>
		</div>
		<div class="h-0 relative bottom-3">
			<AppearingTextButton
				client:visible
				class="ml-auto motion-safe:transition-color-300 hover:text-tertiary-900 focus-visible:text-tertiary-900"
				visualType="outline"
				stageId={stageId}
			/>
		</div>
		<AppearingLine
			class="text-primary-600 text-8 text-balance motion-safe:transition-opacity-1000"
			text="My name is Marcin and I am a Web Developer with a UX/UI side."
			group={2}
			{...appearInView}
		/>
		<AppearingLine
			text="My goal is to deliver functional, dynamic websites that will stand out from the ones that you see everyday."
			class="text-primary-600 text-6 text-balance motion-safe:transition-opacity-1000"
			{...appearInView}
		/>
		<AppearingLine
			class="text-primary-600 text-6 text-balance motion-safe:transition-opacity-1000"
			text="I believe that leaving good customer experience will make your brand recognizable."
			{...appearInView}
		/>
		<p
			class="text-subtitle-3 text-balance text-9 mb-0 text-center solid-text-shadow motion-safe:transition-opacity-1000 sm:(text-right text-12 ml-auto max-w-80%)"
			{...appearInView}
		>
			<AppearingLine as="span" text="Now, wanna make some" lettersTransition />
			<AppearingLine
				as="strong"
				offset={"Now, wanna make some".length}
				text=" good shit?"
				lettersTransition
			/>
		</p>
		<nav
			class="ml-auto flex-center flex-wrap sm:justify-end gap-2 my-8 menu-opafocus opafocus-max-opacity-100 opafocus-min-opacity-80 cursor-auto"
			{...tooltipIgnore}
		>
			<SocialLinks />
			<Button
				as="a"
				href={`#${mainpageTabs.contact.id}`}
				class="text-right max-w-max"
				invertColor
			>
				<div class="inline-block i-mingcute-message-3-fill w-8 h-8 mr-2"></div>
				<AppearingLine
					text="Contact me!"
					class="inline-block my-2"
					group={3}
					animatedOnView
				/>
			</Button>
		</nav>
	</AppearingText>
</section>
