---
import { getEntry } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Button from "@components/Button/Button.astro";
import myImage from "@assets/me.png";
import AppearingText from "@components/AppearingText/AppearingText.astro";
import AppearingLine from "@components/AppearingText/AppearingLine.astro";
import SocialLinks from "@components/SocialLinks.astro";
import { foxObstacleAttrObj } from "@components/ThreeScene/constants";
import { scrollToTargetAttrObj } from "@components/AppearingText/constants";
import transcriptDataToTimestamps from "@utils/transcriptDataToTimestamps";
import AppearingTextButton from "@components/AppearingText/AppearingTextButton";
import { mainpageTabs } from "src/constants";
import { classInViewParent } from "@/plugins/classInView/serverUtils";


const { data: aboutMeAudio, id: stageId } = await getEntry({
	collection: "transcripts",
	id: "about-me",
});

const aboutMeTranscript = transcriptDataToTimestamps(aboutMeAudio);
---

<section
	id={mainpageTabs.aboutMe.id}
	class="section font-serif relative flex flex-col justify-between gap-12 md:flex-row relative text-primary-950 bg-primary-50"
	{...scrollToTargetAttrObj}
	{...foxObstacleAttrObj}
>
	<div class="w-50% min-w-80 max-w-5xl ml-auto hidden md:block">
		<Picture
			src={myImage}
			alt="Picture of me"
			fit="contain"
			aspect-ratio="1:20"
			sizes="(max-width: 768px) 320px, (max-width:1428px) 500px, 700px"
			widths={[320, 500, 700]}
			class="sticky top-4 object-contain rounded-100% md:(top-8 max-h-80vh max-w-min w-full)"
		/>
	</div>
	<AppearingText
		as="article"
		wordsReference={aboutMeTranscript.words}
		wordTimings={aboutMeTranscript.timestamps}
		audioPath={aboutMeAudio.audio}
		class="flex flex-col flex-shrink align-end text-center prose md:(text-right basis-full)"
		id={stageId}
	>
		<AppearingLine
			as="h2"
			class="text-subtitle-1"
			text="Nice to meet you!"
			group={1}
			animatedOnView
			{...classInViewParent}
		/>
		<div class="md:hidden max-w-50 mx-auto mb-12">
			<Picture
				src={myImage}
				alt="Picture of me"
				aspect-ratio="1:1"
				sizes="200px"
				widths={[200]}
				fit="contain"
				class="rounded-full"
			/>
		</div>
		<div class="h-0 relative bottom-3">
			<AppearingTextButton
				client:visible
				class="ml-auto hover:text-accent-400 focus-visible:text-accent-400"
				visualType="outline"
				stageId={stageId}
			/>
		</div>
		<AppearingLine
			class="text-8 text-balance"
			text="My name is Marcin and I am a Web Developer with a UX/UI side."
			group={2}
		/>
		<AppearingLine
			text="My goal is to deliver functional, dynamic websites that will stand out from the ones that you see everyday."
			class="text-6 text-balance"
		/>
		<AppearingLine
			class="text-6 text-balance"
			text="I believe that leaving good customer experience will make your brand recognizable."
		/>
		<p
			class="text-subtitle-3 text-balance text-9 mb-0 text-center sm:(text-right text-12 ml-auto max-w-80%)"
			{...classInViewParent}
		>
			<AppearingLine as="span" text="Now, wanna make some" animatedOnView/>
			<AppearingLine as="strong" offset={"Now, wanna make some".length} text=" good shit?" animatedOnView/>
		</p>
		<nav
			class="ml-auto flex-center flex-wrap sm:justify-end gap-2 my-8 menu-opafocus opafocus-max-opacity-100 opafocus-min-opacity-80"
		>
			<SocialLinks />
			<Button
				as="a"
				href={`#${mainpageTabs.contact.id}`}
				class="text-right max-w-max"
				invertColor
			>
				<div class="inline-block i-mingcute-message-3-fill w-8 h-8 mr-2"></div>
				<AppearingLine
					text="Contact me!"
					class="inline-block my-2"
					group={3}
					dontShowTooltip
					animatedOnView
					{...classInViewParent}
				/>
			</Button>
		</nav>
	</AppearingText>
</section>
