---
import Button from "@components/Button.astro";
import type { HTMLAttributes } from "astro/types";
import classNames from "classnames";
interface Props extends HTMLAttributes<"a"> {
	label: string;
	labelShort?: string;
	href: string;
	iconClass: string;
}
const { href, iconClass, label, class: className,labelShort, ...other } = Astro.props;
---

<Button
	{...other as any}
	size="small"
	visualType="outline"
	as="a"
	href={href}
	class={classNames(["text-label menu-opafocus-option flex-center w-max max-w-60 uppercase font-serif", className])}
	aria-label={label}
	title={label}
>
	<div class="flex-center gap-1em text-xs">
		<div class:list={["w-6 h-6 flex-shrink-0", iconClass]}></div>
		<p class:list={["hidden", (!labelShort && label.length <= 8) ? "xl:block" : "2xl:block"]}>{label}</p>
		{labelShort && <p class="hidden xl:block 2xl:hidden">{labelShort}</p>}
	</div>
</Button>
